/*Generic*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
body{
    margin:0;
}

.container{
    min-height:600px;
    margin:0 auto;
    width:960px;

}


/*header*/
.container .header{
    display:flex;
    width:100%;
    height:100%;
    margin-bottom:0;
}

.container .header ul{
display:flex;
}

.container .header ul li{
    padding:45px;
    list-style: none;
    
    }
    .container .header ul li a{
        text-decoration: none;
        
        }
    
/*main container*/

.container .main img{
    width: 100%;
    margin-top: 0;
}

/*sec1*/
.container .sect1{
    display:flex;
    width:100%;
    justify-content: space-around;
}

.container .hor{
   
    border:1px dashed black;
}
 
.container .main_box_sect .box_1{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:100%;  
    margin-bottom: 50px;
}

.container .main_box_sect .box_2{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:100%;  

}
.container .main_box_sect .box_1 .sec1_image{
    width:130px;
    height:130px;
    background:rgb(3, 26, 3);
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_1 .sec2_image{
    width:130px;
    height:130px;
    background: yellow;
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_1 .sec3_image{
    width:130px;
    height:130px;
    background: grey;
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_1 .sec4_image{
    width:130px;
    height:130px;
    background: rgb(66, 26, 11);
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_1 .sec5_image{
    width:130px;
    height:130px;
    background: red;
    text-align:center;
    padding-top:13px;
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_2 .sec6_image{
    width:130px;
    height:130px;
    background: green;
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_2 .sec7_image{
    width:130px;
    height:130px;
    background: rgb(168, 23, 149);
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_2 .sec8_image{
    width:130px;
    height:130px;
    background: rgb(218, 119, 136);
    text-align:center;
    padding-top:35px; 
    color:white;
}
.container .main_box_sect .box_2 .sec9_image{
    width:130px;
    height:130px;
    background: rgb(201, 24, 53);
    text-align:center;
    padding-top:35px;
    color:white;
}
.container .main_box_sect .box_2 .sec10_image{
    width:130px;
    height:130px;
    background: blue;
    text-align:center;
    padding-top:35px;
    color:white;
}

.container .main_box_sect{
    margin-bottom: 40px;
}

.container .section_3{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:100%; 

}

.container .footer ul {
    display: flex;
    background: black;
    height:50px;
    
}

.container .footer ul li{
   padding-top:15px;
}
.container .footer ul li a{
    padding:20px;
    color:white;
    text-decoration: none;
    text-align: center;
}

/*About-Section*/
.container .one img{
    width: 100%;
}

.container .three{
    height: 100%;
    width:100%;
    display:flex;
    margin-top:20px;
    justify-content: space-between;
    padding-left:20px;
}

.container .section-three-part-one{
    width:450px;
    border-bottom:1px dashed black;
    padding: 20px 0;
}

.container .section-three-part-two{
    width: 450px;
    border-bottom:1px dashed black;
    padding: 20px 0;

}

.container .section-four-part-one{
    width: 450px;
    border-bottom:1px dashed black;
    padding: 20px 0;
}

.container nav span a img{
  
    padding-top:40px;
}

.container header{
    margin-bottom:0;
}

.container .one img{
    margin-top:0;
}
.two, .main,.main_box_sect{
    border-bottom:1px dashed black;
    padding: 20px 0;
}

.container .section-four-part-two{
    width: 450px;
    border-bottom:1px dashed black;
    padding: 20px 0;
}
.main_box_sect{
    margin-bottom:0;
}
.container .five{
margin-bottom:50px;
margin-top:50px;
}

.container.section_3{
    margin-top:0;
}
.btn{
    border:1px solid black;
    border-radius: 5px;
    padding:10px;
}

.container .four{
    height: 100%;
    width:100%;
    display:flex;
    margin-top:20px;
    justify-content: space-around;
   
}
img{
    width: 100%;
    margin-top: 0;
}